*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #926239;
    line-height: 1.6;
}

#showcase{
    background-image:url('/img/showcase.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align: center;
    padding: 0 20px;


}

#showcase h1{
    font-size: 50 px;
    line-height: 1.2;

}

#showcase p{
    font-size: 20px;

}

#showcase .button{
    font-size: 18px;
    text-decoration: none;
    color: #cabfb5;
    border: #926239 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover{
    background: #926239;
    color: #fff;
    
}

#section-a{
    border: 7px solid black;
    padding: 20px;
    background: #75685c;
    color: #fff;
    text-align: center;
    margin: 15px;
}

#section-b{
    padding: 20px;
    background: #fa9292;
    text-align: center;
    margin: 15px;
}

#section-c{
    display: flex;
    margin: 15px;
}

#section-c div{
    padding: 20px;
}

#section-c .box-1, #section-c .box-3{
    background: #ffe3cb;
    color: rgb(0, 0, 0);
}

#section-c .box-2{
    border: 7px solid black;
    background: #f9f9f9;
   
}